img
{
    width: 500px;
    height: 500px;
}
body{
    background-color: rgb(95, 95, 95);
}

button{
    width:100px;
    height: 50px;
    border-radius:10px;
    color: rgb(0, 0, 0);
    background-color: rgb(54, 98, 54);
}
p{
  font-size: 40px;
}